<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/main-styles.css">
    </head>

    <body>
        <nav class="navbar navbar-light sticky-top bg-light" style="padding: 10px 0px;">
            <div class="container-fluid">
                <a class="navbar-brand" style="font-size: 150%;" href="/"><strong>CITY SCANNER</strong></a>
                <form method="POST" action="/search/search" id="search-form" class="d-flex">
                    <label for="searchInput"> </label>
                    <input type="text" name="searchInput" id="searchInput" class="form-control me-2">
                    <button id="submit" class="btn btn-outline-success"  type="submit">Search</button>
                </form>

                <div class="dropdown">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                        class="rounded-circle img-fluid shadow dropimg" style="width: 50px;">

                    <div class="dropdown-content dropdown-menu dropdown-menu-right">
                        
                        <a href="/login">Login</a>
                        <a href="/signup">Signup</a>
                        <a href="/">Home</a>
                        <a href="/user/userProfile">User Profile</a>
                        <a href="/cities/addCity">Add City</a>
                        <a href="/attractions">Add Attraction</a>
                    </div>
                </div>
            </div>
        </nav>
        <main>{{{body}}}</main>
        <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <footer class="bg-light text-center text-lg-start">
            <!-- Copyright -->
            <div class="text-center p-3 fixed-bottom" style="background-color: rgba(0, 0, 0, 0.2);">
                <a class="text-dark">Developed By : Group 54</a>
            </div>
            <!-- Copyright -->
        </footer>
    </body>

</html>