<h2>Add City</h2> 
<p>{{error}}</p>
<form method="POST" action="#" id="city-form">
                <label for="nameInput">  Enter Name: </label>
                 <input type="text" name="nameInput" id="nameInput" size="50" >
             <br>

                <label for="stateInput" > Enter State:</label>
                <input type="text" name="stateInput" id="stateInput" size="50">

            <br>
            <label for="countryInput" > Enter Country:</label>
            <input type="text" name="countryInput" id="countryInput" size="50">

                  <button type="submit">Submit</button>
 </form>
