<title>{{title}}</title>
<div class="header">
    <h1>ADD CITY</h1>
</div>

    <p>{{error}}</p>
    <p>{{message}}</p>
<div class="container">

<form class="form-style-7" method="POST" action="#" id="city-form">
    <ul class="shadow">
        <li class="shadow-sm">
            <label for="nameInput">  Enter Name: </label>
            <input type="text" name="nameInput" id="nameInput">
            <span>Enter your username</span>
        </li>
        <li class="shadow-sm">
            <label for="stateInput" > Enter State:</label>
            <input type="text" name="stateInput" id="stateInput">
            <span>Enter your password</span>
        <li class="shadow-sm">
            <label for="countryInput" > Enter Country:</label>
            <input type="text" name="countryInput" id="countryInput">
            <span>Enter your username</span>
        </li >
        <li>
            <input type="submit" value="Log In" class="shadow">
            - or - 
            <a href="/signUp"><input type="button" value="Signup" class="shadow"></a>
        </li>
    </ul>
</form>
</div>