<div class="header">
    <h1>EDIT REVIEW</h1>
</div>

<div class="container">
<form class="form-style-7" id="reviewForm" method="POST" action="#">
<ul class="shadow">
    <li>
    <label for="reviewTxt"> Review:</label>
    <input type="text" id="reviewTxt" name="reviewTxt" >
    </li>
    <li>
    <input type="submit">
    </li>
</ul>
</form>
</div>
<p>{{error}}</p>