<div class="header">
    <h1>LOGIN</h1>
</div>
<p>{{error}}</p>
<div class="container">
    <p id="error">{{error}}</p>
    <form class="form-style-7" method="POST" action="\login" id="login-form">
        <ul class="shadow">
            <li>
                <label for="usernameInput">Username</label>
                <input id="usernameInput" name="usernameInput" type="text" maxlength="100">
                <span>Enter your username</span>
            </li>
            <li>
                <label for="passwordInput">Password</label>
                <input type="password" id="passwordInput" name="passwordInput"maxlength="100">
                <span>Enter your password</span>
            <li>
                <input type="submit" value="Log In">
                - or - 
                <a href="/signUp"><input type="button" value="Signup"></a>
            </li>
        </ul>
    </form>
</div>
<script src="../public/zjs/login.js"></script>