<p>{{error}}</p>
<title>{{title}}</title>
    <p id="error"></p>
    <p> Enter a username and password to sign up </p>
    <form method="POST" action="/signUp" id="registration-form"> 
    <label for="nameInput"> Name:</label><br>
    <input type="text" id="nameInput" name="nameInput"><br>
    <label for="ageInput"> Age:</label><br>
    <input type="text" id="ageInput" name="ageInput"><br>
    <label for="usernameInput"> Username:</label><br>
    <input type="text" id="usernameInput" name="usernameInput"><br>
    <label for="emailInput"> Email:</label><br>
    <input type="text" id="emailInput" name="emailInput"><br>
    <label for="passwordInput"> Password: </label><br>
    <input type="password" id="passwordInput" name="passwordInput"><br>
    <button type="submit">SignUp!</button>
    </form>

<a href="/">Already have an account? Click here to log-in</a>
 <script src="../public/js/signUp.js"></script>

