* {
	box-sizing: border-box;
}
html{
background: rgb(220, 220, 220);
}
html,
body {
  width: 100%;
  margin: 0%;
  padding: 0%;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: rgba(0, 0, 0, 0.0);
  

}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");


main {
	margin: auto;
}

header {
	border-bottom: 1px solid #afafaf;
}

h1,
h2 {
	color: #222;
	margin-bottom: 5px;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

label {
	font-weight: bold;
}

form{
   
}
.button {
    background-color: #590245;
  
   
    padding: 5px 10px;
    text-align: center;
  
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }


p {
	font-size: 1rem;
	line-height: 2;
}

dl{
    background-color: rgb(117, 117, 227);
  }
  dt{
    color: black;
  }
  dd{
    color:black;
  }
  ul{
    background-color:orange;
  }
  li{
    color: black;
  }
  .inli{
    color: black;
  }

  a{
    color:rgb(227, 232, 182);
  }

  link{
    background-color: blue;
    font-family: "Lucida Console", "Courier New", monospace;
  }

.tag{
    color:rgb(227, 232, 182);
    background-color: #590245;
  }

  .content {
    padding: 10px;
    margin: 10px;
  }
  
  #filter {
    background-color: #ccc;
    padding: 10px;
  }
  
  .attrContent {
    padding: 10px;
    margin: 10px;
  }

  .select:hover {
    background: #323741;
  }

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}  

.caret-rotate {
  transform: rotate(180deg);
}

.menu{
  list-style: none;
  padding: 0.2em 0.5em;
  background: #323741;
  border: 1px #363a43;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  color: #9fa5b5;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.menu li:hover {
  background: #2a2d35;
}

.active{
  background: #23242a;
}

.menu-open{
  display: block;
  opacity: 1;
}

.box{
  float: left;
  background-color: slateblue;
  color: pink;
  width: 125px;
  line-height: 125px;
  text-align: center;
  margin: 10px;
  
}

#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}

.show{
  display: block;
}

.p-cities{
  margin: 10px;
}

.divider
{
	position: relative;
	margin-top: 5px;
  margin-bottom: 5px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

/* Dropdown Button */
.dropimg {
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropimg {background-color: #3e8e41;}

