*,
*:before,
*:after {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}
html{
background: rgb(220, 220, 220);
}
html,
body {
  width: 100%;
  margin: 0%;
  padding: 0%;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: rgba(0, 0, 0, 0.0);
  

}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");


main {
	margin: auto;
}

header {
	border-bottom: 1px solid #afafaf;
}

h1,
h2 {
	margin-bottom: 5px;
}



label {
	font-weight: bold;
}


.button {
    background-color: #590245;
  
   
    padding: 5px 10px;
    text-align: center;
  
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }


p {
	font-size: 1rem;
	line-height: 2;
}

dl{
    background-color: rgb(117, 117, 227);
  }
  dt{
    color: black;
  }
  dd{
    color:black;
  }

  link{
    background-color: blue;
    font-family: "Lucida Console", "Courier New", monospace;
  }

.tag{
    color:rgb(227, 232, 182);
    background-color: #590245;
  }

  .content {
    padding: 10px;
    margin: 10px;
  }
  
  
  .attrContent {
    padding: 10px;
    margin: 10px;
  }

  .select:hover {
    background: #323741;
  }

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}  

.caret-rotate {
  transform: rotate(180deg);
}

.menu{
  list-style: none;
  padding: 0.2em 0.5em;
  background: #323741;
  border: 1px #363a43;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  color: #9fa5b5;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.menu li:hover {
  background: #2a2d35;
}

.active{
  background: #23242a;
}

.menu-open{
  display: block;
  opacity: 1;
}

.box{
  float: left;
  background-color: slateblue;
  color: pink;
  width: 125px;
  line-height: 125px;
  text-align: center;
  margin: 10px;
  
}

#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}

.show{
  display: block;
}

.p-cities{
  margin: 10px;
}

.divider
{
	position: relative;
	margin-top: 5px;
  margin-bottom: 5px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

/* Dropdown Button */
.dropimg {
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropimg {background-color: #3e8e41;}

/* Form CSS */
.form-style-7{
	max-width:420px;
	margin:50px auto;
	background:#fff;
	border-radius:2px;
	padding:20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 h1{
	display: block;
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: #5C5C5C;
	font-size:x-large;
}
.form-style-7 ul{
	list-style:none;
	padding:30px;
	margin:0;	
}
.form-style-7 li{
	display: block;
	padding: 9px;
	border:1px solid #DDDDDD;
	margin-bottom: 30px;
	border-radius: 3px;
}
.form-style-7 li:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: center;
}
.form-style-7 li > label{
	display: block;
	float: left;
	margin-top: -19px;
	background: #FFFFFF;
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: #B9B9B9;
	font-size: 14px;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 li > span{
	background: #F3F3F3;
	display: block;
	padding: 3px;
	margin: 0 -9px -9px -9px;
	text-align: center;
	color: #C0C0C0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.form-style-7 textarea{
	resize:none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"]{
	background: #2471FF;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid #5994FF;
	border-radius: 3px;
	color: #D2E2FF;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover{
	background: #6B9FFF;
	color:#fff;
}

.error{
  color: red;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.header h2{
  color: white;
  font-weight: bolder;
}


.header-content {
  padding: 60px;
  text-align: center;
  background: #1a46c9;
  color: white;
  font-size: 40px;
}

.header-content h2{
  color: white;
  font-weight: bolder;
  font-size: large;
}

.header-user {
  padding: 20px;
  text-align: center;
  background: #1a46c9;
  color: white;
  font-size: 20px;
}

.header-user h2{
  color: white;
  font-weight: bolder;
  font-size: large;
}

.two-box{
  margin: 10px;
  padding: 20px;
}

#filter, #sort{
  padding-left: 10px;
  margin-top: -5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #ebebeb;
}
